<li class="list-group-item create-todo">
  <form onsubmit={{action ( pipe ( action createTodo newTodoText) ( action "refresh" ) )}}>
    {{input type="text" value=newTodoText placeholder="Remember the milk..."}}
    <button class="btn btn-primary" type="submit">Create</button>
  </form>
</li>
