<ul class="nav flex-column">
  {{#each (filter-by 'isNew' false lists) as |list|}}
    <li class="nav-item">
      {{#link-to 'list.show' list}}
        {{list.title}} <span class="pull-right badge badge-primary">{{list.openTodos.length}}</span>
      {{/link-to}}
    </li>
  {{else}}
    No list found
  {{/each}}
  <li class="nav-item">
    <hr>
  </li>
  <li class="nav-item text-right">
    {{#link-to 'list.new' class="btn btn-primary"}}{{fa-icon 'plus' fixedWidth=true}} New List{{/link-to}}
  </li>
</ul>
