<h4 class="headline">Create a new TODO list</h4>

{{#bs-form formLayout='vertical' model=model onSubmit=(route-action 'submit') as |form|}}

  {{form.element controlType='text' label='List title' placeholder='Grocery list' property='title' required=true}}

  <hr>

  <div class="text-right">
    {{bs-button defaultText="Cancel" type="default" buttonType="reset" onClick=(route-action 'cancel')}}
    {{bs-button defaultText="Create" type="primary" buttonType="submit"}}
  </div>

{{/bs-form}}
