<ul class="list-group">
  <li class="list-group-item">
    <h5 class="mb-0">{{model.title}}</h5>
  </li>
  {{create-todo createTodo=(route-action 'createTodo' model)}}
  {{todo-list items=model.openTodos empty="🎉&nbsp;&nbsp;Congratulations! Nothing to do here."}}
</ul>

<br>

<ul class="list-group">
  <li class="list-group-item">
    <h5 class="mb-0">Done</h5>
  </li>
  {{todo-list items=model.doneTodos empty="You should work harder to get your stuff done."}}
</ul>

<hr>

<div class="text-right">
  {{#bs-button type='danger' onClick=(route-action 'delete')}}
    {{fa-icon 'trash'}} delete
  {{/bs-button}}
</div>
