$brand-primary: #EF5A31;

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import "ember-bootstrap/bootstrap";

body {
  background-color: #666;
  font-family: 'Roboto', sans-serif;
}

.btn {
  cursor: pointer;
}

.container {
  background-color: white;
  box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  margin-top: 1.5rem;
  height: calc( 100vh - 1.5rem - 54px - 1.5rem );
}

.row {
  height: 100%;
}

.navbar {
  background-color: $brand-primary;
  h1 {
    color: white;
    span {
      font-family: 'Pacifico', cursive;
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}

h4 {
  font-weight: 700;
}

.headline {
  @extend .mb-4;
}

.sidebar {
  background-color: #ccc;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sidebar,
.content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

// ===

.list-group-item input[type="text"] {
  width: 100%;
  border: 0;
  cursor: pointer;
  line-height: 32px;
  padding: 1px 5px;
}

.create-todo form {
  width: 100%;
  display: flex;
  flex-flow: row;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.done {
  text-decoration: line-through !important;
}
