<!-- As a heading -->
<nav class="navbar navbar-dark">
  <h1 class="navbar-brand mb-0 text-center"><span>ember.js</span> Escape the Javascript fatigue</h1>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4 sidebar">
      <h4 class="headline">Lists</h4>
      {{sidebar-lists lists=model}}
    </div>
    <div class="col-sm-8 content">
      {{outlet}}
    </div>
  </div>
</div>
